BasedOnStyle: LLVM
AlwaysBreakAfterDefinitionReturnType: TopLevel
SpaceBeforeParens: Always
BreakBeforeBraces: Allman
IndentExternBlock: NoIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
ColumnLimit: 0
